body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}

p {
  line-height: 1.3;
  font-size: 19px;
}

img.social {
  padding-left: 3px;
  filter: invert(); // this is likely not supported everywhere
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

.anrede {
  color: #4f80bd;
  font-size: 24px;
}

div.page {
  max-width: 956px;
  margin: auto;
  background: white;
}

div.signatures {
  text-align: right;
  width: 100%;
}

div.signatures {
  & > img {
    width: 170px;
  }
}

div.toc {
  margin-left: -50px;
  margin-bottom: 70px;
  a {
    padding-left: 50px;
    background-color: #4f80bd;
    display: inline-block;
    padding-right: 25px;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 6px;
    text-decoration: none;
    font-size: 20px;
  }
}

img.hand {
  position: absolute;
  right: 0;
  height: 325px;
}

div.section {
  & > h1 {
    font-weight: normal;
    & > b {
      color: #4f80bd;
    }
  }
  & > .banner {
    position: relative;
    & > div {
      position: absolute;
      right: 26px;
      top: -30px;
      z-index: 9;
      img {
        width: 64px;
        margin-left: 10px;
      }
    }
    & > img {
      width: 100%;
    }
  }

  hr {
    border: none;
    height: 1pt;
    background-color: #cad9eb;
    margin-bottom: 56px;
  }
}

p.donation-footnote {
  font-size: 11px;
}

div.content {
  padding: 50px;
  padding-top: 0;
  position: relative;
}

div.footer {
  color: white;
  background: #4f80bd;
  padding: 50px;
  position: relative;
  & > .logo {
    width: 126px;
    height: 126px;
    top: -40px;
    position: absolute;
    right: 70px;
  }
}

.reset-footer-link {
  color: white;
  text-decoration: none;
}

a.unsubscribe {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.donation-state {
  margin-bottom: 50px;
  &>div {
    text-align: center;
    color: #4f80bd;
  }
}

div.progressbar {
  height: 38px;
  width: 338px;
  margin: auto;
  position: relative;
  background-color: #e4e4e4;
  margin-top: 13px;
  margin-bottom: 36px;
  & > div.progress {
    background-color: #4f80bd;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAABMCAYAAAA4NXTJAAABaklEQVR42u3buw3CQBCEYfgDMhIKoj3qoiESMhIoAZ+9jxlpiW2NPgTnu7H2fH88v6fCz+V6q4w7UR34eb9qgR3faiWSrp9OFZLO/0cFku5FIBuJwkqXiURlOc9CovTMykCi9mCORrLlImckWy90RbJysSOS1RvckOy5yQnJ3htdkBwJdUByNFQdSUSoMpKoUFUkkaGKSKJD1ZBkhCohyQpVQZIZqoAkO7QbSUVoJ5Kq0C4klaEdyFJgB5LqlyHVSKKqAVUkUdWAKpKoakAVSVQ1oIokqhpQRRJVDagiiaoGVJF/H/TuyE07GWfk5q2aK3JpL+qIXN5suyF3nSackLuPSy7IQ+dBB+ThA686MuREr4wMqyxUkaGdjCIyvHRSQ6a0akrItNpQBZnaiyog04vfbmRJs92JLKvuu5Cl7yY6kDMY4o6cwRB35AyGuCNnMMQdOYMh7sgZDHFHzmCIO3IGQ9yRMxjijvwBXI3hQm8QWHgAAAAASUVORK5CYII=");
    background-repeat: repeat-x;
    background-size: revert;
    height: 100%;
  }
}

div.current {
  font-size: 132px;
  font-weight: bold;
  letter-spacing: 17px;
}

div.current::after {
  content: "€";
  position: absolute;
}

div.goal {
  font-size: 30px;
}

/* Tablet */
@media (max-width: 768px) {
  body,
  p {
    font-size: 18px;
  }

  div.content {
    padding: 30px;
    padding-top: 0;
  }

  div.footer {
    padding: 30px;
    .logo {
      width: 82px;
      height: 82px;
      top: -28px;
      right: 19px;
    }
  }

  div.signatures > img {
    width: 150px;
  }

  div.toc {
    margin-left: -30px;
    a {
      padding-left: 30px;
    }
  }
}

/* In between thing mainly for the donation counter */
@media (max-width: 555px) {
  div.current {
    font-size: 90px;
  }

  div.goal {
    font-size: 27px;
  }

  div.progressbar {
    height: 32px;
    width: 257px;
    margin-bottom: 34px;
  }
}

/* Smartphone */
@media (max-width: 386px) {
  body,
  p {
    font-size: 16px;
  }

  .anrede {
    font-size: 17px;
  }

  div.content,
  div.footer {
    padding: 10px;
  }

  div.signatures > img {
    width: 90px;
  }

  div.toc {
    margin-top: 12px;
    margin-left: -10px;
    a {
      padding-left: 10px;
    }
  }

  div.footer {
    padding-top: 4px;
    .logo {
      width: 56px;
      height: 56px;
      top: -20px;
      right: 8px;
    }
    h3 {
      font-size: 16px;
    }
  }

  div.section p {
    text-align: justify;
  }

  div.current {
    font-size: 60px;
    letter-spacing: 10px;
  }

  div.goal {
    font-size: 19px;
  }

  div.progressbar {
    height: 24px;
    width: 166px;
  }
}
